/* src/components/Thumbnail.css */
.thumbnail {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .thumbnail img {
    width: 100px;
    height: auto;
  }
  
  .thumbnail.active {
    border-color: blue;
  }
  .chapter-selector {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Espacio entre el selector y las thumbnails */
    padding: 10px;
  }
  
  .chapter {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .chapter.active {
    background-color: lightblue;
    border-color: blue;
  }